.activities-section {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  .section-header {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 0;
    text-align: left;
  }

  .activities-list-container {
    width: 100%;
    max-width: 89rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    padding: 1rem 0;

    .carousel-track {
      display: flex;
      width: 100%;
      gap: 1.2rem;
      transition: transform 0.5s;

      .carousel-page {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2.1rem; // Adjusted gap for better spacing
      }
    }
  }
  .carousel-dots {
    bottom: 18px;
    left: 50%;
    display: flex;
    gap: 10px;
    z-index: 10;
    padding: 1rem 0;

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #ccc;
      cursor: pointer;
      transition: background 0.3s;
      &.active {
        background: #ff9800;
      }
    }
  }
}
