@use "../../styles/variables.scss" as *;

.events-section {
  padding: 1rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }

  .section-header {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 0;
    text-align: left;
  }

  .section-description {
    font-size: 1.2rem;
    color: $text-color;
    text-align: center;
    max-width: 800px;
    margin-bottom: 2rem;
  }

  .scroll-controller {
    background: unset;

    button {
      border: none;
      border-radius: 50%;
      width: 4.5rem;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      cursor: pointer;

      &:hover {
        background-color: $light-gray;
      }

      svg {
        color: $text-color;
        font-size: 4rem;
      }
    }
  }

  .section-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .events-cards-container {
      width: 100%;
      display: flex;
      overflow: scroll;
      gap: 2rem;
      padding-bottom: 2rem;
      scrollbar-width: none;

      .event-card {
        position: relative;
        background: $white;
        max-width: 24rem;
        padding: 1rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        text-align: left;
        border-radius: 12px;
        cursor: pointer;

        .img-wrapper {
          position: relative;
          width: 22rem;
          height: 12rem;
          border-radius: 8px;
          overflow: hidden; /* ensures child stays within rounded corners */
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* outer shadow */

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0.6),
              transparent
            );
            pointer-events: none;
          }
        }

        .event-card-content {
          padding: 0.5rem 0;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .event-title {
            font-size: 1.2rem;
            font-weight: 600;
            margin-top: 0.8rem;
            color: $text-color;
          }

          .event-date,
          .event-time,
          .event-location {
            font-size: 1rem;
            color: $gray;
            line-height: 1.5;

            .card-icon {
              margin-right: 0.6rem;
              color: $gray;
            }
          }
        }

        .date-sticker {
          position: absolute;
          top: 1.8rem;
          left: 1.8rem;
          background: $orange;
          color: $white;
          padding: 1rem;
          border-radius: 8px;
          text-align: center;
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          line-height: 1rem;

          .date {
            font-size: 1.2rem;
            font-weight: bold;
            color: $text-color;
          }

          .month {
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: bold;
          }
        }

        .enlarge-icon {
          position: absolute;
          top: 0.7rem;
          right: 0.7rem;
          padding: 0.5rem;

          .enlarge-icon {
            color: #ffffffaf;
            font-size: 1.5rem;
          }

          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  .invitation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .modal-content {
      padding: 2rem;
      border-radius: 12px;
      position: relative;
      max-width: 800px;
      width: 100%;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .invitation-image {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;

        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
        }
      }

      .close-icon {
        position: absolute;
        top: 0.9rem;
        right: 0.9rem;
        color: $black;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        font-size: 2.1rem;

        &:hover {
          color: $text-color;
          background-color: unset;
        }

        @media screen and (max-width: 768px) {
          font-size: 1.8rem;
          padding: 0.5rem;
        }
      }
    }
  }
}
