@use "../../styles/variables" as var;

.all-members-list {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  .page-title {
    font-size: var.$font-size-large;
    font-weight: bold;
    color: var.$text-color;
    margin-bottom: var.$spacing-medium;
    display: flex;
    width: 100%;

    .title {
      flex: 1;
      text-wrap: nowrap;
      text-align: left;
    }

    .search-box-container {
      min-width: 30%;
    }
  }

  .page-description {
    width: 50%;
    text-align: left;
  }

  .search-box-container-mobile {
    display: none;
  }

  .members-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var.$spacing-large;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    .member-list-card {
      height: 215px;
      display: flex;
      border: 2px solid var.$border-color;
      padding: 0.5rem;
      border-radius: 10px;
      cursor: pointer;

      .member-image {
        width: 200px;
        height: 200px;
        margin-right: var.$spacing-medium;
        border-radius: 10px;
      }

      .member-details {
        text-align: left;
      }
    }
  }
}

@media (max-width: 768px) {
  .all-members-list {
    padding: 1rem;

    .page-title {
      .search-box-container {
        display: none;
      }
    }
    .page-description {
      width: 100%;
      text-align: center;
      text-align: left;
    }
    .search-box-container-mobile {
      display: block;
      margin: 1.2rem 0;
    }
    .members-list-container {
      .member-list-card {
        height: fit-content;
        flex-direction: column;
      }
    }
  }
}
