@use "../../styles/variables" as var;

.activity-card {
  max-width: 28rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  .header-image {
    width: 100%;

    img {
      width: 28rem;
      height: 18rem;
    }
  }

  .activity-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 1.8rem;
    gap: 0.8rem;

    .date {
      margin-top: 1rem;
      background-color: var.$orange;
      height: 2.2rem;
      padding: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;

      span {
        margin-top: 0.1rem;
        font-weight: 600;
      }
    }

    .activity-title {
      font-size: 1.3rem;
      font-weight: 600;
    }

    .activity-description {
      text-align: left;
      font-size: 1.2rem;
      padding-bottom: 1rem;
    }
  }
}
