@use "../../styles/variables" as var;

.activity-card {
  max-width: 40rem;
  // height: 20rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  // flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  padding: 1.2rem;
  text-align: left;

  .header-image {
    img {
      border-radius: 12px;
      width: 18rem;
      height: 100%;
    }
  }

  .activity-info {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 1.8rem;
    padding-right: 2rem;
    gap: 0.8rem;

    .activity-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: var.$gray;
    }

    .activity-description {
      text-align: left;
      font-size: 1.2rem;
      padding-bottom: 1rem;
    }

    .tag-line {
      font-size: 1.2rem;
      color: var.$text-color;
      margin-bottom: 0.5rem;
    }
  }

  .header-image-small {
    display: none;
  }

  @media (max-width: 1300px) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .header-image {
      width: 100%;
      display: none;
    }

    .header-image-small {
      display: block !important;
      img {
        width: 100%;
        height: auto;
      }
    }

    .activity-info {
      padding: 1rem;
      text-align: center;

      .activity-title {
        font-size: 1.4rem;
      }

      .activity-description {
        font-size: 1rem;
      }
    }
  }

  &:hover {
    transform: scale(1.03); // Slight zoom-in effect
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  }
}
