@use "../../styles/variables" as var;

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;

  .animation-container {
    width: 18rem;
  }

  .message {
    margin-top: 2rem;
    font-size: 1.25rem;
    color: var.$text-color;
    text-align: center;
  }
}
